h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

.img-fluid {
    max-width: 500px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.col-md-6 {
    padding: 0 20px;
}

.col-md-6 img {
    margin-bottom: 20px; 
}

h2 {
    color: white; 
    margin-top: 10px;
}

h3{
    color: white;
    font-size: 22px;
}

p {
    color: #b3b3b3; 
    line-height: 1.6;
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #2c2c2c;
    color: #333;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #2c2c2c;
}

.navbar a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.nav-item a:hover {
    background-color: #ad3636;
    color: white;
}

.navbar-toggler {
    color: white;
}

.btn-rojo {
    background-color: #A34343; 
    color: white;
    border: none;
    padding: 4px 9px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-rojo:hover {
    background-color: #ad3636; 
    transform: scale(1.05); 
    color: white;
}

.btn-rojo:active {
    background-color: #990000;
}

.detalle{
    font-size: 10px;
}

h4{
    font-size: 18px;
    color: #b3b3b3;
}